<div class="techStack">
    <h6>MY TECH EXPERIENCE</h6>
    <p> Technologies I've been recently working with </p>
    <div class="techCardSection">
        <div class="techStackCard">
            <img src="../../../assets/html.svg" alt="">
        </div>
        <div class="techStackCard">
            <img src="../../../assets/css.svg" alt="">
        </div>
        <div class="techStackCard">
            <img src="../../../assets/javascript.svg" alt="">
        </div>
        <div class="techStackCard">
            <img src="../../../assets/icons8-bootstrap-logo.svg" alt="">
        </div>
        <!-- <div class="techStackCard">
            <img src="../../../assets/tailwind.svg" alt="">
        </div> -->

    </div>
    <div class="techCardSection">
        <div class="techStackCard">
            <img src="../../../assets/icons8-angularjs.svg" alt="">
        </div>
        <div class="techStackCard">
            <img src="../../../assets/react.svg" alt="">
        </div>
        <div class="techStackCard">
            <img src="../../../assets/mongodb.svg" alt="">
        </div>
        <div class="techStackCard">
            <img src="../../../assets/node-js.svg" alt="">
        </div>
        <div class="techStackCard">
            <img src="../../../assets/icons8-ionic.svg" alt="">
        </div>
     
    </div>




</div>
<br>