<div class="webSection">
    <div class="section1">
        <img src="../../../assets/Group 124.png" alt="">
    </div>
    <div class="section1">
        <span>
            <h6>Walk, earn, and thrive</h6>
            <p>The earned rewards are distributed equally in $BTT and $BFF tokens. Our goal is to provide users with a
                fun,
                rewarding, and innovative experience. Discover our project now and turn your steps into earnings.</p>
            <p>Launch App</p>

        </span>
    </div>
</div>
<br>
<div class="webSection">
    <div class="section1">
        <span>
            <h6>Walk, earn, and thrive</h6>
            <p>The earned rewards are distributed equally in $BTT and $BFF tokens. Our goal is to provide users with a
                fun,
                rewarding, and innovative experience. Discover our project now and turn your steps into earnings.</p>
            <p>Launch App</p>

        </span>
    </div>
    <div class="section1">
        <img src="../../../assets/Group 124.png" alt="">
    </div>
</div>