<div class="navbar">
    <div class="navbarSplit">

        <svg>
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                S P
            </text>
        </svg>

    </div>
    <div class="navbarSplit">
        <ul>
            <li>Home</li>
            <li>My works</li>
            <li>Blogs</li>
        </ul>
    </div>
    <div class="navbarSplit">
        <input type="checkbox" id="custom-checkbox" class="hidden-checkbox" (change)="togglenavBar($event)" >
        <label for="custom-checkbox" class="custom-checkbox-label">
            <img src="../../../assets/icons8-hamburger-50.png" alt="Checkbox Image" class="checkbox-image">
          </label>
        <button>Contact us</button>
    </div>


</div>

