<div class="main">
    <div class="sliderbar" #sliderbar>
        <!-- <ul class="slidebars">
            <li><img src="../assets/works.png" alt="">&nbsp; My Works</li>
            <li><img src="../assets/blog.png" alt="">&nbsp; Blog</li>
            <li><img src="../assets/phone-call.png" alt="">&nbsp; Contact us</li>
        </ul> -->


    </div>
    <div class="socialmedia">
        <div class="github">
        </div>
        <div class="linkedIn">
        </div>
        <div class="instaGram">
        </div>
    </div>

    <app-navbar (isNavbarToggle)="navbarFunction($event)"></app-navbar>
    <app-landing-screen></app-landing-screen>
    
    <app-experience></app-experience>
    <app-myworks></app-myworks>
    <app-footer></app-footer>

</div>