.main {
    width: 99%;
    margin: 0% auto;
    position: relative;
}

.socialmedia {
    width: 20%;
    height: 20rem;
    position: absolute;
    top: 29%;
    background-color: transparent;
}

.github,
.linkedIn,
.instaGram {
    width: 5%;
    height: 80px;
    background-color: #f5f5f5;
    transition: all 1s ease;
    position: relative;
}

.github img {
    width: 50px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: -10px;
    z-index: -5;
    margin-top: 15px;


}

.linkedIn {
    background-color: #0072b1;
}

.instaGram {
    background-color: #8a3ab9;
}

.github:hover,
.linkedIn:hover,
.instaGram:hover {
    width: 100%;

}

/* social media  */

.sliderbar {
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;
    background: rgba(209, 209, 209, 0.668);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 0 15px 15px 0;
    transition: left 0.5s ease;
    border: 1px solid rgb(255, 255, 255);
}

.slidebars,
li {
    background-color: transparent;

}

.slidebars {
    border: 1px solid purple;
    height: 300px;
    margin-top: 8rem;
}

.slidebars li {
    font-size: 1.5rem;
    line-height: 2rem;
    list-style: none;
    text-decoration: none;
}

.slidebars li img {
    background-color: transparent;
}







@media (min-width:600px) {
    .socialmedia {
        width: 15%;
    }

    .sliderbar {
        width: 30%;
    }
}