<div class="workExperience">
    <h6>WORK EXPERIENCE</h6>
    <p>Companies I got experience for in the past</p>
    <div class="companyDiv">
        <div class="companyCard">
            <div class="companyInfo">
                <div class="companyNumber">01</div>
                <div class="companyname"><span>Iwin Company</span>, Software Developer</div>
                <div class="companyDescription">Now i’m Currently working as app Developer Ionic with angular ,gaining
                    valuable experience on App development </div>
            </div>
        </div>
        <div class="companyCard">
            <div class="companyInfo">
                <div class="companyNumber">02</div>
                <div class="companyname"><span class="second">Spectrum SoftTech Solution</span>, Trainee</div>
                <div class="companyDescription">I worked as a trainee on the MERN Stack development team, gained
                    valuable experience in various aspects of web development. </div>
            </div>
        </div>
    </div>
</div>
<app-tech-stack></app-tech-stack>